
@import "../../../../Help";

.selectWrapper {
    max-width: 210px;
    width: 100%;
    transition: all .2s ease-out;

    &.loading {
        opacity: 0.4;
        pointer-events: none;
        transition: all .2s ease-out;
    }

}

