
$darkModeElements: hsl(209, 23%, 22%);
$darkBg: hsl(207, 26%, 17%);
$lightModeText: hsl(200, 15%, 8%);
$lightModeInput: hsl(0, 0%, 52%);
$lightBg: hsl(0, 0%, 98%);
$darkModeText: hsl(0, 0%, 100%);
$lightModeElements: hsl(0, 0%, 100%);

$paginateELHoverColor: #ffb74d;

$containerWidth: 1100px;
$shadowLight: 0px 0px 6px rgba(0, 0, 0, 0.1);
$hoverShadowLight: 0px 0px 12px 2px rgba(0, 0, 0, 0.1);

%content {
    display: flex;
    justify-content: center;
    align-items: center;
}

