
@import "../../Help";

.wrapper {
    min-height: calc(100vh - 76px);
    width: 100%;
    @extend %content;
    background-color: $lightBg;

    &.dark {
        background-color: $darkBg;

        .box {

            .title {
                color: $darkModeText;
            }

            .btn {
                color: $darkModeText;
                background-color: $darkModeElements;

                &:hover {
                    background-color: lighten($darkModeElements, 10);
                }
            }
        }
    }

    .box {

        user-select: none;

        .title {
            font-size: 30px;
            font-weight: bold;
            display: block;
            margin-bottom: 14px;
            color: $lightModeText;
        }

        .btn {
            border-radius: 4px;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 18px;
            padding: 10px 20px;
            color: $lightModeText;
            background-color: $lightModeElements;
            margin-left: 50%;
            transform: translateX(-50%);
            box-shadow: $shadowLight;
            transition: all .2s ease-out;

            &:hover {
                background-color: darken($lightModeElements, 10);
                transition: all .2s ease-out;
            }

        }

    }
}





